[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.*DS_Store

# Files we don't want to track
config/betterfps.json
config/cofh/thermalfoundation/client.cfg
config/cofh/core/client.cfg
config/cofh/thermalcultivation/client.cfg
config/cofh/redstonearsenal/client.cfg
config/cofh/thermaldynamics/client.cfg
config/cofh/thermalexpansion/client.cfg
